### HomeWork 2- 17350796

In [8]:
import pandas as pd

from pandas.plotting import table
# import dataframe_image as dfi

import numpy as np
from numpy import array

import matplotlib.pyplot as plt

%matplotlib inline

from matplotlib.backends.backend_pdf import PdfPages


from scipy import stats



# split a dataset into train and test sets
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

In [5]:
# df = pd.read_csv('final-file-additonal-features-17350796.csv', keep_default_na=True, sep=',\s+', delimiter=',', skipinitialspace=True)

df = pd.read_csv('final-file-additonal-features-17350796.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [6]:
df.head()

,Date of Sale (yyyy/mm/dd),Address,Postal Code,County,Price (€),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,Month,Year,percent,Season,Province,GDP (USD-Billion),Total Number of Loans Approved,Added Post Codes
0,2016-06-05 00:00:00,"21 curzon st, portobello, d8",d8,Dublin,630000.0,No,No,Second-Hand Dwelling house /Apartment,None,6.0,2016.0,0.032830,Summer,Leinster,298.73,35037.0,d8
1,2014-12-22 00:00:00,"44 rothe abbey, kilmainham, d8",d8,Dublin,281000.0,No,No,Second-Hand Dwelling house /Apartment,None,12.0,2014.0,0.032830,Winter,Leinster,258.63,31897.0,d8
2,2020-05-22 00:00:00,"17 merrion park, blackrock, dublin",NaN,Dublin,560000.0,No,No,Second-Hand Dwelling house /Apartment,None,5.0,2020.0,0.032830,Spring,Leinster,425.89,Unkown,NaN
3,2014-11-27 00:00:00,"knockroe, rathmoyle, co.kilkenny",NaN,Kilkenny,46000.0,No,No,Second-Hand Dwelling house /Apartment,None,11.0,2014.0,0.806452,Autumn,Leinster,258.63,31897.0,NaN
4,2018-11-22 00:00:00,"15 shannon park, lifford rd, ennis",NaN,Clare,204000.0,No,No,Second-Hand Dwelling house /Apartment,None,11.0,2018.0,0.432900,Autumn,Munster,384.85,Unkown,NaN

In [7]:
df.tail()

,Date of Sale (yyyy/mm/dd),Address,Postal Code,County,Price (€),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,Month,Year,percent,Season,Province,GDP (USD-Billion),Total Number of Loans Approved,Added Post Codes
9542,2012-12-18 00:00:00,"17 the court, cypress downs, templeogue",NaN,Dublin,605000.00,No,No,Second-Hand Dwelling house /Apartment,None,12.0,2012.0,0.032830,Winter,Leinster,225.51,17769.0,NaN
9543,2016-12-14 00:00:00,"the log cabin, forge cottage, cullenstown",NaN,Wexford,46666.67,No,No,Second-Hand Dwelling house /Apartment,None,12.0,2016.0,0.286533,Winter,Leinster,298.73,35037.0,NaN
9544,2017-06-19 00:00:00,"carrig rd, parkmore, roscrea",NaN,Tipperary,176000.00,No,No,Second-Hand Dwelling house /Apartment,None,6.0,2017.0,0.371747,Summer,Munster,334.6,Unkown,NaN
9545,2022-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.000000,Winter,NaN,NaN,NaN,NaN
9546,2022-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.000000,Winter,NaN,NaN,NaN,NaN

## (1) Data understanding and perparation

#####  Exploring relationships between feature pairs and selecting/transforming promising features based on a given training set.

#### (1.1) Randomly shuffle the rows of your dataset and split the dataset into two datasets: 70% training and 30% test. Keep the test set aside.

In [17]:

# X, y = df.data, df.target


# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)


train, test = train_test_split(df, test_size=0.3, random_state=1)

In [18]:
train.shape

(6682, 17)

### Plot the correlations between all the continuous features (if any). Discuss what you observe in these plots.

### For each continuous feature, plot its interaction with the target feature (a plot for each pair of continuous feature and target feature). Discuss what you observe from these plots, e.g., which continuous features seem to be better at predicting the target feature? Choose a subset of continuous features you find promising (if any). Justify your choices.

### For each categorical feature, plot its pairwise interaction with the target feature. Discuss what knowledge you gain from these plots, e.g., which categorical features seem to be better at predicting the target feature? Choose a subset of categorical features you find promising (if any). Justify your choices

## (2). Predictive Modeling and Evaluation: Linear Regression.

## (3). **Predictive Modeling and Evaluation:** Decision Tree.

## (4).  **Predictive Modeling and Evaluation:** Random Forest.

## (5).  **Improving Predictive Models.**